<div id="wrapper">

  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-user-shield"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Administrator</div>
    </a>

    <hr class="sidebar-divider my-0">
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
      Organizer
    </div>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Overview</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/admin/organizer" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Organizer Management</span>
      </a>
    </li>
    <div class="sidebar-heading">
      User
    </div>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-user-alt"></i>
        <span>Overview</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed"  routerLink="/admin/user" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-user-alt"></i>
        <span>User Management</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-sign-out-alt"></i>
        <button class="logout" (click)="logout()">Logout</button>
      </a>
    </li>

    <hr class="sidebar-divider">


  </ul>
  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>


        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
              aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>


        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>

            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="profile.jsp">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Trang cá nhân
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Đăng xuất
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div id="page-inner" style=" padding: 10px; ">
        <div class="row">
          <div class="col-md-12">
            <h2>Organizer Management</h2>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-responsive">
                  <div class="row" style="padding: 10px;">
                   

                  </div>

                  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                      <tr>
                        <th>UserName</th>
                        <th>FullName</th>
                        <th width="160px">Function</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let organizer1 of organizer1;">
                      <tr  *ngIf="organizer1.uid !='R4kSDf4ypwctRhBH4lBrhg04y5d2'">
                        <td class="center">{{organizer1.username}}</td>
                        <td class="center">{{organizer1.fullname}}</td>
                        <td class="center">
                          <button (click)="edit($event, organizer1)" class="btn btn-primary">
                            Edit</button>
                          <button (click)="deleteOrganizer(organizer1.uid)" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this item?');"><i
                              class="fa fa-pencil"></i> Delete</button>
                        </td>
                        <td>
                          <div *ngIf="editing && editingOganizer.uid==organizer1.uid">
                            <form (ngSubmit)="updateOrganizer()">
                        <td><input type="text" name="username" [(ngModel)]="editingOganizer.username"></td>
                        <td><input type="text" name="fullname" [(ngModel)]="editingOganizer.fullname"></td>
                        <td><button type="submit" class="btn btn-primary">Update</button></td>
                        </form>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </footer>

  </div>


</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("user").classList.add('active-menu');
</script>
<script src="assets/jquery.min.js"></script>
<script src="assets/bootstrap.bundle.min.js"></script>
<script src="assets/jquery-3.4.1.min.js"></script>
<script src="assets/bootstrap.bundle.min.js"></script>
<script src="assets/jquery.dataTables.min.js"></script>
<script src="assetsjs/dataTables.bootstrap4.min.js"></script>
<script src="assets/datatables-demo.js"></script>
<script src="assets/bootstrap.min.js"></script>
<script src="assets/jquery.easing.min.js"></script>
<script src="assets/sb-admin-2.min.js"></script>